body {
    margin:0;
}
.banner {
    width:100%;
    height: 450px;
    background-image: url(https://cdn.lifehacker.ru/wp-content/uploads/2013/05/50800-2560x1600.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items:flex-end;
    transition:.4s ease-in;
    
    .menu {
        width: 100%;
        height: 70px;
        display:flex;
        align-items: center;
        justify-content: center;
        &__item {
            height:100%;
            flex:1;
            background-color: rgba(255, 255, 255, .9);
            margin:0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            cursor: pointer;
            transition:.4s ease-in;
            &:hover {
                clip-path:polygon(0 0,45% 0, 50% 30%, 55% 0, 100% 0, 100% 100%, 0 100%);
            } 
        }
    }
}
.flipcard {
    position:relative;
    width: 250px;
    height: 350px;
    cursor:pointer;
    perspective: 500px;
    .card {
        backface-visibility: hidden;
        width: 100%;
        height:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        color:white;
        font-size:1.3rem;
        position: absolute;
        left:0;
        top:0;
        transition: 5s;
    }
    .front {
        background-color: red;
        transform: rotateY(0);

    }
    .back {
        background-color: green;
        transform: rotateY(180deg);
    }
    &:hover .front {
        transform: rotateY(-180deg);
    }
    &:hover .back {
        transform: rotateY(0);
    }

}